table.backtrace {
	border: 3px solid #AAAAAA;
	border-collapse: collapse;
}
table.backtrace, table.backtrace * {
	padding: 0;
	margin: 1px;
}
table.backtrace td {
	padding: 1px;
	vertical-align: top;
}
table.backtrace td.show_args {
	cursor: pointer;
}
