div#shutdown_button {
	z-index: 9999;
	right: 0;
	width: 30px;
	height: 30px;
}
div#shutdown_button.empty  { background-color: green; }
div#shutdown_button.notice { background-color: #FF9900; }
div#shutdown_button.fatal  { background-color: red; }

div#shutdown_content {
	z-index: 9998;
	left: 0;
	background-color: #DDDDDD;
}
div#shutdown_content * {
	padding: 0 1px;
	margin: 1px;
}
div#shutdown_content hr {
	border: 1px solid #BBB;
}
div#shutdown_content hr.block {
	border-color: #555;
}
div#shutdown_button, div#shutdown_content {
	position: absolute;
	top: 0;
	margin: 0;
	padding: 0;
}
.error_handler { color: #FF9900; }
.error_handler_fatal { color: red; }
