[core]
	autocrlf = input
	safecrlf = warn
    pager    = "less -A"
#	pager    = "vim -u /var/www/palezno/vim/vimrc.more -R -"
[include]
	path = .gitconfiguser

[diff]
	tool = vimdiff


[color]
	ui     = always
	branch = auto
	diff   = auto
	status = auto

[color "branch"]
	current = cyan bold;yellow reverse
	local   = yellow
	remote  = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old  = red bold
	new  = green bold

[color "status"]
	added     = yellow
	changed   = green
	untracked = cyan

[alias]
	fe    = fetch
	pus   = !git pull && git submodule update --init
	st    = status
	re    = rebase
	mef   = merge --no-ff --no-edit
	mefe  = merge --no-ff

	di    = diff
	dis   = diff --staged			;diff файлов добавленных в коммит
	dit   = difftool -y
	dits  = difftool -y --staged		;difftool файлов добавленных в коммит
	diw   = diff --word-diff			;diff показывает изменненые слова, а не строки
	diwc  = diff --word-diff=color		;=diw без скобок, отличие только в цвете
	diwp  = diff --word-diff=porcelain	;перекидывает на строки если в одной строке
	dim   = !sh -c 'git diff origin/master...origin/$1' -

	lo    = log
	los   = log --stat				;показывает затронутые файлы
			;log в красивом виде, в отдну строку
	loo   = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"'
			;=loo + график
	loog  = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"' --graph
	loos  = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"' --stat
	loogs = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"' --graph --stat

			;=loo и =loog только дата показывается в локоной временой зоне
	lloo  = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"' --date=local
	lloog = log --pretty=format:'%C(yellow)%h%C(reset) %ai %C(blue bold)[%an]%C(reset) \"%C(green)%s%C(reset)\"' --date=local --graph
	co    = checkout
	br    = branch
;	ci    = commit
	sd    = !sh -c 'git status && git diff' -
	showm = !sh -c 'git diff $1^1 $1' -		;diff мержа
	showms= !sh -c 'git diff $1^1 $1 --stat' -;=showm покажет только затронутые файлы
	coma  = !sh -c 'git add -A && git commit -m \"$(date +"%y.%d.%m_%H:%M:%S")\"' -
