[core]
	autocrlf = input
	safecrlf = true
[include]
	path = .gitconfiguser



[color]
;	ui     = true
	branch = auto
	diff   = auto
	status = auto

[color "branch"]
	current = cyan bold;yellow reverse
	local   = yellow
	remote  = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old  = red bold
	new  = green bold

[color "status"]
	added     = yellow
	changed   = green
	untracked = cyan

[alias]
	st    = status
	di    = diff
	dis   = diff --staged
	diw   = diff --word-diff
	diwc  = diff --word-diff=color
	lo    = log
	los   = log --stat
	loo   = log --oneline
	loog  = log --oneline --graph
	co    = checkout
	br    = branch
;	ci    = commit
	two   = !git status && git diff
